<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.landlord.dao.LandlordMapper">


    <insert id="addHouseNew" parameterType="com.qf.landlord.dto.HouseDTO">
        insert into house(areaId,community,build,unit,num,room,hall,toilet,level,allLevel,elevator,area,type,
        decorate,toward,rent,payType,roomType,roomToward,roomArea,title,info,status,upTime,lanId)
        values(#{areaId},#{community},#{build},#{unit},#{num},#{room},#{hall},#{toilet},#{level},#{allLevel},
        #{elevator},#{area},#{type},#{decorate},#{toward},#{rent},#{payType},#{roomType},#{roomToward},
        #{roomArea},#{title},#{info},#{status},#{upTime},#{lanId})
        <selectKey keyProperty="houseId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="addHouseFacil" parameterType="com.qf.landlord.dto.HouseDTO">
        insert into house_facilities(houseId,facId) values
        <trim suffixOverrides=",">
            <foreach collection="facilitiesList" item="item">
                (#{houseId},#{item.facId}),
            </foreach>
        </trim>
    </insert>

    <insert id="addHouseImg" parameterType="com.qf.landlord.dto.HouseDTO">
        insert into img(img_url,houseId) values
        <trim suffixOverrides=",">
            <foreach collection="imgList" item="item">
                (#{item.img_url},#{houseId}),
            </foreach>
        </trim>
    </insert>

    <insert id="addHouseContact" parameterType="com.qf.landlord.dto.HouseDTO">
        insert into contact(conName,mobile,houseId) values(#{contact.conName},#{contact.mobile},#{houseId})
    </insert>


    <insert id="addShopNew" parameterType="com.qf.landlord.dto.ShopInfoDTO">
        insert into shopinfo(title,price,icon,type,pay_type,floor,area,info,crowd,business_type,
        operating_state,specification,property,rentDate,address_id,lanId,upTime)
        values(#{title},#{price},#{icon},#{type},#{pay_type},#{floor},#{area},#{info},#{crowd},
        #{business_type},#{operating_state},#{specification},#{property},#{rentDate},#{address_id},
        #{lanId},#{upTime})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="addShopEquipment" parameterType="com.qf.landlord.dto.ShopInfoDTO">
        insert into shop_equ(shop_id,equ_id) values
        <trim suffixOverrides=",">
            <foreach collection="equipmentList" item="item">
                (#{id},#{item.id}),
            </foreach>
        </trim>
    </insert>

    <insert id="addShopImg" parameterType="com.qf.landlord.dto.ShopInfoDTO">
        insert into img(img_url,shopId) values
        <trim suffixOverrides=",">
            <foreach collection="imgList" item="item">
                (#{item.img_url},#{id}),
            </foreach>
        </trim>
    </insert>

    <insert id="addShopContact" parameterType="com.qf.landlord.dto.HouseDTO">
        insert into contact(conName,mobile,shopId) values(#{contact.conName},#{contact.mobile},#{id})
    </insert>

</mapper>