<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.landlord.dao.PayMapper">

    <insert id="addOrder" parameterType="com.qf.landlord.pay.PayParam">
        insert into orderForm(out_trade_no,total_amount,subject,houseId,dayNum)
        values(#{out_trade_no},#{total_amount},#{subject},#{houseId},#{dayNum})
    </insert>

    <select id="getOneOrder" resultType="com.qf.landlord.pay.PayParam" parameterType="int">
        select * from orderform where ordId = #{ordId}
    </select>
</mapper>