<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.shop.dao.ShopInfoMapper">
    <!--无条件展示-->
    <select id="listAllShopInfo" resultType="com.qf.shop.vo.ShopIndexVO">
      SELECT s.*,l.landName FROM shopinfo s,landlord l WHERE s.landId = l.landid
    </select>

    <!--选择条件搜索，每次都扫描所有选择条件-->
    <select id="listShopInfoByConditions" parameterType="com.qf.shop.dto.ConditionsDTO" resultType="com.qf.shop.vo.ShopIndexVO">
        SELECT s.*,l.landName FROM shopinfo s,landlord l
        <where>
            s.landId = l.landid and 1=1
            <if test="provinceId != null and provinceId != ''"> and provinceId = #{provinceId} </if>
            <if test="cityId != null and cityId != ''"> and cityId = #{cityId} </if>
            <if test="areaId != null and areaId != ''"> and areaId = #{areaId} </if>
            <if test="minArea !=0 and maxArea !=0">  and area &gt; #{minArea} and area &lt; #{maxArea} </if>
            <if test="minPrice !=0 and maxPrice != 0">  and price &gt; #{minPrice} and price &lt; #{maxPrice} </if>
        </where>
    </select>

    <!--input 条件搜索,模糊查询-->
    <select id="listAllShopInfoByLike" parameterType="String" resultType="com.qf.shop.vo.ShopIndexVO">
        SELECT s.*,l.landName FROM shopinfo s,landlord l
        WHERE s.landId = l.landid AND title LIKE concat('%',#{keyword},'%')
    </select>

    <!--由shopid搜索,商铺详细信息-->
    <select id="listAllShopInfoByShopId" parameterType="int" resultType="com.qf.shop.vo.ShopInfoVO">
      SELECT s.*,l.landName,l.mobile FROM shopinfo s,landlord l WHERE s.landId = l.landid AND s.id=#{id}
    </select>

    <!--由shopid搜索配套设备-->
    <select id="listEquipmentsByShopId" parameterType="int" resultType="com.qf.shop.vo.EquipmentVO">
      SELECT e.name FROM shop_equ se,equipment e WHERE se.shop_id=#{id} AND se.equ_id = e.id
    </select>

    <!--由shopid搜索shop的img-->
    <select id="listImgsByShopId" parameterType="int" resultType="com.qf.shop.vo.ImgsVO">
      SELECT i.img_url FROM shopinfo s,img i WHERE i.shopId = s.id AND s.id = #{id}
    </select>

    <select id="getShopLocation" parameterType="com.qf.shop.vo.ShopLocationVO" resultType="com.qf.shop.vo.ShopIndexVO">
        SELECT s.*,l.landName FROM shopinfo s,landlord l where 1=1 and s.landId = l.landid
        <if test="provinceId != null and provinceId != ''">
            and provinceId = #{provinceId}
        </if>
        <if test="cityId != null and cityId != ''">
            and cityId = #{cityId}
        </if>
        <if test="areaId != null and areaId != ''">
            and areaId = #{areaId}
        </if>
        ORDER BY status DESC
    </select>


</mapper>